---
export interface Props {
  title: string;
  description?: string;
  bodyClass?: string;
}

const { title, description, bodyClass } = Astro.props;

import Analytics from "../components/Analytics.astro";
import Favicons from "../components/Favicons.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} - Calin Gabriel</title>
    <meta
      name="description"
      content={description || "Calin Gabriel - Full Stack Developer"}
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/index.css" />
    <Favicons />
    <Analytics />
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>
